@import "variables";

#viewport {
  position: relative;
  min-height: 100%;
}

.right {
  float: right;
}
.left {
  float: left;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

// form {

// }
