<!DOCTYPE html>
<html>
<head>
  <title>Justin and Abigail</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="viewport">
    <%= yield %>
  </div>

</body>
</html>
